gitdata/embedding/embeddings-l-model.bin
data/input/*.dta
data/input/data_parquet/*.parquet
data/output/bases_prediccion/*.parquet
data/processed/*.parquet
data/

models/
models/artifacts/*.pkl

notebooks/

pruebas/

venv/

.vscode/

.Rhistory

clasificador_ciuo_caenes_casen.Rproj

code/__pycache__

code/utils/__pycache__ 

.Rproj.user/

.ipynb_checkpoints/

code/.ipynb_checkpoints/3_a_train_model-checkpoint.py
code/utils/.ipynb_checkpoints/model-checkpoint.py
code/test_trainer/
get-pip.py
